#res div div select {
  width: 185px;
}

#res > div:nth-child(2) > div:nth-child(2) > div > div > div {
  margin-right: 118px;
}

#res > div:nth-child(2) > div:nth-child(2) > div > div > span > div > input {
  margin-left: 130px;
  margin-bottom: 5px;
}

#res {
  background-color: rgba(255, 255, 255, 0.774);
  border: 2px solid black;
  border-radius: 5px;
  padding-left: 20px;
  margin-bottom: 5px;
  margin-top: 5px;
  padding-top: 10px;
  margin-left: -15px;
}

#guestinfo {
  background-color: rgba(255, 255, 255, 0.774);
  border: 2px solid black;
  border-radius: 5px;
  margin-bottom: 10px;
  max-width: 100%;
  margin-left: -15px;
}
#saveButton {
  size: 30px;
  margin-left: 40%;
}
#cancelButton {
  margin-left: 20px;
}
