
h1 {
  font-size: 5em;
  width: 25%;
  color: red;
  line-height: 1em;
}


#exit {
  float: right;
  font-size: 29px;
  width: 38px;
  border: 1px solid black;
}
#logo {
  width: 100%;
  margin-bottom: 30px;
}
p {
  font-size: 14px;
  color: pink;
  padding: 1px;
  margin-left: 10px;
}
#res {
  background-color: rgba(255, 255, 255, 0.774);
  border: 2px solid black;
  border-radius: 5px;
  padding-top: 10px;
  margin-left: -15px;


}

/* button {
  size: 30px;
  margin-left: 5px;
} */

#buttonDiv {
  padding-left: 5px;
}

#header {
  background-color: rgba(255, 255, 255, 0.774);
  border: 2px solid black;
}
h2 {
  text-align: center;
}
#res table tr td {
  width: 50%;
}

#res table tr {
  width: 100%;
  padding-left: 5px;
}

#revNew{
  margin-left: 20px;

}
#revNew1{
  margin-left: 35%;

}
