html {
  height: 100%;
  padding-bottom: 150px;

  }
body {
  font-family: 'Nanum Myeongjo', serif;
  background-image: linear-gradient(to bottom,#10293d,#00315c,#00377b,#003998, #2e35b0);
  background-repeat: no-repeat;
  max-height: 100%;
}


#root div div:nth-child(1) canvas {
  position: absolute;
  width: 100%;
  max-height: 100%;
  z-index: -1;
  
}

.selector-for-some-widget {
  box-sizing: content-box;
}
