@media all and (min-width: 768px) {
  #res > div:nth-child(1) > div:nth-child(2) > div > div > span > div {
    margin-left: 1px;
    width: 10px;
  }
  #res > div:nth-child(1) > div:nth-child(2) > div > div > span > div {
    margin-right: 0px;
    margin-left: 37px;
  }
  #res > div:nth-child(1) > div:nth-child(2) > div > div > div {
    margin-right: 5px;
  }
  #dateRangeU {
    padding-bottom: 5px;
  }
  #res > div:nth-child(1) > div:nth-child(1) {
    padding-top: 8px;
  }
  #res > div:nth-child(2) > div:nth-child(1) {
    padding-top: 8px;
  }
  #newRow {
    padding-bottom: 8px;
  }
}

@media print {
  #user-card-navbar {
    display: none;
  }
  #buttonsReservation {
    display: none;
  }
  body {
    padding-top: 10px;
  }
}

#dashboardTable {
  margin: 20px 60px 20px;
  padding: 30px 50px;
  height: 700px;
}

#res > div:nth-child(3) > div:nth-child(4) > select {
  width: 188px;
}
#res {
  background-color: rgba(255, 255, 255, 0.774);
  border: 2px solid black;
  border-radius: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
  padding-top: 10px;
  margin-left: 0px;
}
#res3 {
  background-color: rgba(255, 255, 255, 0.774);
  border: 2px solid black;
  border-radius: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
  padding-top: 10px;
  margin-left: 0px;
}

#submitButton {
  size: 30px;
  margin-left: 40%;
  color: red;
}
.input {
  width: 100%;
}

#field-wrapper {
  height: 30px;
}

.sc-htpNat {
  margin-bottom: 0px;
  width: 30px;
}
#res div div select {
  width: 199px;
  height: 30px;
}

#guestinfo
  > div
  > div
  > div:nth-child(5)
  > div:nth-child(2)
  > input[type='text'] {
  width: 390px;
  height: 50px;
  vertical-align: top;
  max-width: 100%;
}
