h1 {
  font-size: 5em;
  width: 25%;
  color: red;
  line-height: 1em;
}

#dashboardTable {
  margin: 20px 60px 20px;
  padding: 30px 50px;
  height: 700px;
}
#printButton2{
  width:80px;
  height:38px;
}

#pendingLink{
  color: rgb(58, 56, 187);
  font-size: 20px;
}
p {
  font-size: 18px;
  color: black;
  padding: 5px;
  margin-left: 10px;
}

#guestinfo {
  background-color: rgba(255, 255, 255, 0.863);
  border: 2px solid black;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
  max-width: 100%;
  margin-left: -15px;
}
#checkIn{
  margin:0px;
}

button {
  size: 30px;
  margin-left: 40%;
}

#res3{
  margin-left: -15px;
  background-color: rgba(255, 255, 255, 0.867);
  text-align: center;
}

