body {
  font-family: "Montserrat";
}

h1 {
  font-size: 5em;
  width: 25%;
  color: red;
  line-height: 1em;
}

#dashboardTable {
  margin: 20px 60px 20px;
  padding: 30px 50px;
  height: 700px;
}
#infoPart {
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  color: black;
  background-color: rgba(255, 255, 255, 0.425);
  margin-left: 20px;
  margin-bottom: 20px;
}
#logo {
  width: 100%;
  margin-bottom: 30px;
}
p {
  font-size: 18px;
  color: black;
  padding: 5px;
  margin-left: 10px;
}
#exit {
  float: right;
  font-size: 29px;
  width: 38px;
  border: 1px solid black;
}

#res {
  background-color: rgba(255, 255, 255, 0.774);
  border: 2px solid black;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-top: 20px;
  padding-left: 2px;
}
#header {
  background-color: rgba(255, 255, 255, 0.774);
  border: 2px solid black;
}

#guestinfo {
  background-color: rgba(255, 255, 255, 0.774);
  border: 2px solid black;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
}
button {
  size: 30px;
  margin-left: 40%;
}

h2 {
  text-align: right;
}

.th {
  border: 1px solid black;
  padding: 10px;
  width: 5%;
}
