.container {
  max-width: 100%;
  margin: 0 auto;
  margin-top: 30px;
  margin-left: 10px;
}

.btn-group a {
  cursor: pointer; /* Pointer/hand icon */
  width: 250px;
  display: block;
  margin-bottom: 10px;
  margin-left: 0px;
}

.btn-group {
  float: left;
  margin: 10px 15px;
}
.card {
  background-color: rgba(255, 255, 255, 0.833);
}
.card-body {
  text-align: center;
  font-size: 20px;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
  background-color: #ccc439 !important;
  color: black;
}

.btn-primary:hover {
  background-color: #faee03 !important;
}
