body {
  font-family: "Montserrat";
}

h1 {
  font-size: 5em;
  width: 25%;
  color: red;
  line-height: 1em;
}
h5{
  text-align: center;
}
#dashboardTable {
  margin: 20px 60px 20px;
  padding: 30px 50px;
  height: 700px;
}

.btn-group a {
  cursor: pointer; /* Pointer/hand icon */
  width: 250px;
  display: block;
  margin-bottom: 10px;
  margin-left: 0px;
}

.btn-group {
  float: left;
  margin: 5px 5px;
}


