#guestinfo {
  background-color: rgba(255, 255, 255, 0.774);
  border: 2px solid black;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
  max-width: 100%;
  margin-left: -15px;
}

h6 {
  font-weight: bold;
}
.container {
  max-width: 100%;
  margin: 0 auto;
  margin-top: 30px;
}

#firstRow {
  background-color: white;
  padding-top: 5px;
}

#secondRow {
  background-color: white;
  padding-top: 5px;
  margin-bottom: 5px;
}

#thirdRow {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 0px;
  margin-right: 0px;
  width: 100%;
}

#res2 {
  background-color: rgba(255, 255, 255, 0.774);
  border: 2px solid black;
  border-radius: 5px;
  padding-left: 20px;
  margin-bottom: 5px;
  margin-top: 5px;
  padding-top: 10px;
  margin-left: -15px;
}

#res2 table tr td {
  background-color: white;
  padding-right: 10px;
}
@media print {
  #infoCard {
    display: none;
  }
  #res {
    display: none;
  }
}
