#infoCard {
  background-color:rgba(255, 255, 255, 0.586);
  height: 92vh;
  width: 200px;
  margin-top: 0px;
  border: 1px solid white;
  border-top: none;
  border-radius: 5px;
  color: white;
}
@media all and (min-width: 480px) {
  #smallLogo {
    width: 56%;
    margin: 0 auto;
    margin-bottom: 0px;
  }
}
#userNameD {
  font-family: 'Nanum Myeongjo', serif;
  color: black;
}

.card-text {
  margin-left: 0px;
  height: 190px;
  width: 200px;
  font-size: 10px;
}
#infoCard p {
  margin-top: 0px;
  color: black;
}

#infoCard h5 {
  text-align: center;
}
#dashboardTable div div p div div.rw-main.type-today {
  text-align: center;
  border: 2px solid white;
  border-radius: 5px;
  margin-left: 0;
  color: black;
}

.range {
  display: none;
}
.info {
  display: none;
}
.wicon {
  display: none;
}

.fa fa-sign-out {
  color: purple;
}

#infoCard .card-text .rw-main.type-today {
  text-align: center;
  width:80%;
  margin: 0 auto;
}
#infoCard .card-text .rw-main.type-today .rw-box-left .date {
  font-size: 16px;
  color: black;
}
#infoCard .card-text .rw-main.type-today .rw-box-right {
  display: none;
}
#infoCard .card-text .rw-main.type-today .rw-box-left {
  padding: 0px;
  width: 100%;
  margin: 0px;
  color: black;
  font-family: 'Nanum Myeongjo', serif;
  text-align: center;
}

#infoCard .card-text .rw-main.type-today .rw-box-left .current {
  font-size: 16px;
}
#infoCard .card-text .rw-main.type-today .rw-box-left .desc {
  color: black;
}

#hotelAddress{
  font-size: 18px;
}
#hotelEmail{
  font-size: 15px;
}
#hotelName{
  text-align: center;
  font-size: 28px;

}
#hotelPhone i {
  font-size: 14px;
  margin-right: 5px;
}
#hotelInfoPart {
  margin: 0px;
  text-align: center;
  font-family: 'Nanum Myeongjo', serif;
  color: black;
}


#logOut {
  padding: 0px;
  width: 50px;
  float: left;
  margin-top: 0px;
}

#logOut i {
  font-size: 28px;
  color: black;
}
