#exit {
  float: right;
  font-size: 29px;
  width: 38px;
  border: 1px solid black;
}

#resInvoice {
  background-color: rgba(255, 255, 255, 0.774);
  border: 2px solid black;
  border-radius: 5px;
}

#buttonDiv {
  padding-left: 5px;
}

#revNew {
  margin-left: 20px;
}
#revNew1 {
  margin-left: 35%;
}

.tableInfo {
  border: 1px solid transparent;
  width: 45%;
  font-size: 18px;
  padding-left: 15px;
}
