body {
    font-family: 'Montserrat';
    padding: 0px;
    margin: 0 auto;
    z-index: 900;

  }
  
  h1 {
    font-size: 5em;
    width: 25%;
    color: red;
    line-height: 1em;
  }
  
  #logo {
    width: 30%;
    margin-top: 5%;
    margin-left: 35%;
  }

