.Login-page {
    background-color: white;
    border: 3px ridge black;
    border-radius: 5px;
    height:650px;
    width: 350px;
    margin: 0 auto;
    padding-top: 5px;
    margin-top: 40px;
}

@media all and (min-width: 480px) {
    .Login {
      padding: 80px 0 100px;
      color: BLACK;
      background-color: white;
    }
    .Login form {
      margin: 0 auto;
      max-width: 320px;
      text-align: center;
    }
    .btn.btn-primary,
    .btn.btn-primary:active,
    .btn.btn-primary:visited {
      background-color: #ccc439 !important;
      color: black;
      border: 1px solid black;
    }
  
    .btn.btn-primary:hover {
      background-color: #faee03 !important;
    }
  
    #loginUsername {
      text-align: left;
      font-size: 18px;
      background-color: #ccc5391f;
      border: 2px solid black;
    }
    #loginPassword {
      text-align: left;
      font-size: 18px;
      background-color:#ccc5391f;
      border: 2px solid black;
    }
  
    .form-label {
      font-size: 18px;
    }
  }
  