
h1 {
  font-size: 5em;
  width: 25%;
  color: red;
  line-height: 1em;
}

#dashboardTable {
  margin: 20px 60px 20px;
  padding: 30px 50px;
  height: 700px;
}

p {
  font-size: 18px;
  color: black;
  padding: 5px;
  margin-left: 10px;
}

#res {
  background-color: rgba(255, 255, 255, 0.774);
  border: 2px solid black;
  border-radius: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
  padding-top: 10px;
}

#guestinfo {
  background-color: rgba(255, 255, 255, 0.774);
  border: 2px solid black;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 20px;
  max-width: 100%;

}
button {
  size: 30px;
  margin-left: 40%;
}

#submitButton {
  size: 30px;
  margin-left: 40%;
  color:red;
}
.input{
  width: 100%;
}
h2 {
  text-align: right;
}

#exit {
  float: right;
  font-size: 29px;
  width: 10px;
  border: 1px solid black;
}

#header {
  background-color: rgba(255, 255, 255, 0.774);
  border: 2px solid black;
  padding-left: 2px;
}

#field-wrapper{
  height: 30px;
  
}

.sc-htpNat{
  margin-bottom: 0px;
  width: 30px;
}
#res div div select{
  width:199px;
  height: 30px;
}

#guestinfo > div > div > div:nth-child(5) > div:nth-child(2) > input[type=text] {
  width:390px;
  height:50px;
  vertical-align: top;
  max-width: 100%;

}
