#head{
  text-align: center;
}
#res6{
  padding: 10px 0px 0px 0px;
  background-color: rgba(255, 255, 255, 0.774);
  border: 2px solid black;
  margin-left: -15px;

}

#xButton{
  margin-top: -5px;
}
