body {
  font-family: "Montserrat";
}

#dashboardTable1 {
  margin: 20px 60px 40px;
  padding: 30px 50px;
  height: 700px;
}

p {
  font-size: 16px;
  color: black;
  padding: 1px;
  margin-left: 10px;
}

#resHouse {
  background-color: rgba(255, 255, 255, 0.774);
  border: 2px solid black;
  border-radius: 5px;
  margin-top: 20px;

}

button {
  size: 30px;
  margin-left: 5px;
}

#buttonDiv {
  padding-left: 5px;
  margin-top: 10px;
}

#resHouse div table tr th {
  width:41%;
  margin-left: 20px;
}
#resHouse div table {
 margin-bottom: 10px;
}
#resHouse div table tr {
  width: 100%;
  padding-left: 5px;
  margin:10px;
}


