.headTop {
  font-size: 20px;
  padding-left: 10px;
  margin-bottom: 10px;
}
button {
  size: 30px;
  margin-left: 5px;
}
#resHouse > div:nth-child(1) {
  margin: 0px;
}
#dateRow {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 35%;
}
#resHouse {
  background-color: rgba(255, 255, 255, 0.774);
  margin-top: 10px;
  padding-left: 40px;
  padding-top: 20px;
  margin-left: -15px;
  border: 2px solid black;
  border-radius: 5px;
}
.rowHouse {
  background-color: rgba(255, 255, 255, 0.774);
  border: 2px solid white;
  padding-left: 10px;
  width: 80%;
  height: 30px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 5px;
}
#buttonDiv {
  padding-left: 5px;
  margin-top: 10px;
}
#rowHouse2 {
  background-color: rgba(255, 255, 255, 0.774);
  border: 2px solid white;
  padding-left: 10px;
  width: 95%;
  height: 30px;
  margin-bottom: 5px;
}
