h1 {
  font-size: 5em;
  width: 25%;
  color: red;
  line-height: 1em;
}

#dashboardTable {
  margin: 20px 60px 20px;
  padding: 30px 50px;
  height: 700px;
}

p {
  font-size: 18px;
  color: black;
  padding: 5px;
  margin-left: 10px;
}

#guestinfo {
  background-color: rgba(255, 255, 255, 0.774);
  border: 2px solid black;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
  max-width: 100%;
  margin-left: -15px;
}

button {
  size: 30px;
  margin-left: 40%;
}

#searchButton {
  size: 30px;
  margin-left: 40%;
  color: red;
}

#workOrder {
  width: 100%;
}
#questionPart {
  font-size: 20px;
}
#maintRow {
  margin-top: 8px;
}
#maintRow2 {
  margin-top: 8px;
  text-align: center;
}

#maintRow > div:nth-child(2) > textarea {
  width: 82%;
  height: 50px;
}

input[type="checkbox"] {
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  transform: scale(1.5);
  padding: 10px;
}

/* Might want to wrap a span around your checkbox text */
.checkboxtext {
  /* Checkbox text */
  font-size: 110%;
  display: inline;
}
#res > div > div:nth-child(3) {
  padding-top: 5px;
}

#fourthRow{
  margin-top: 5px;
}
