@media all and (min-width: 480px) {
    .Login {
      padding: 20px 0 100px;
      color: white;
    }
  
    .Login form {
      margin: 0 auto;
      max-width: 320px;
      text-align: center;
      
    }
    
  
  }
  