h1 {
  font-size: 5em;
  width: 25%;
  color: red;
  line-height: 1em;
}

#dashboardTable {
  margin: 20px 60px 20px;
  padding: 30px 50px;
  height: 700px;
}
#res > div > div:nth-child(2) {
  padding-top: 5px;
}

p {
  font-size: 18px;
  color: black;
  padding: 5px;
  margin-left: 10px;
}
#guestinfo {
  background-color: rgba(255, 255, 255, 0.774);
  border: 2px solid black;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
  max-width: 100%;
  margin-left: -15px;
}

h2 {
  text-align: center;
}
